.form-input {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    text-align: left;
    font-size: 25px;
}

input {
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 25px;
}
