:root {
    --color1 : rgb(52, 157, 226);
    --color2 : white;
}

.button {
    border: 1px solid var(--color2);
    padding: 10px;
    border-radius: 25px;
    color: var(--color2);
    background-color: var(--color1);
    margin: 10px;
    width: 20%;
    font-size: 25px;
}

.button:hover {
    border: 1px solid var(--color1);
    color: var(--color1);
    background-color: var(--color2);
}
